/* Inconsolata font setup */
@font-face {
	font-family: Inconsolata;
	src: url(fonts/Inconsolata.ttf);
}

@font-face {
	font-family: Norse-Bold;
	src: url(fonts/Norse-Bold.otf);
}

.inconsolata {
	font-family: Inconsolata, Serif;
}

.norse {
	font-family: Norse-Bold, Serif;
}

.bold {
	font-weight: 700;
}

body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: inconsolata;
	display: flex;
	background: #FAF9F6;
}

.sidebar-container {
	background-image: url("img/background_leaves.jpg");
	background-size: 40vw 100vh;
	height: 100vh;
	width: 40vw;
	flex-grow: 0;
	flex-shrink: 0;
}

body.content-container {
	height: 100vh;
	width: 60vw;
	flex-grow: 0;
	flex-shrink: 0;
}

.sidebar-container > .content-container {
	padding: 16px 0px;
	display: flex;
	color: white;
	font-size: 10rem;
	display: flex;
	gap: 16px;
	justify-content: center;
	margin-top: 40%;
	background: rgba(0, 0, 0, 0.5);
}

.sidebar-container img {
	width: 120px;
	height: 160px;
}

.header > p {
	font-size: 1.7rem;	
	margin: 32px;
	font-weight: 800;
} 

.header > p:first-child {
	margin-top: 128px;
} 

button[type="submit"] {
	background: #596D48;
	margin: 32px;
	border-radius: 4px;
	width: 220px;
	height: 48px;
	border: none;
	color: white;
	font-size: .9rem;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

ul {
	list-style-type: none;
	padding: 32px;
	padding-top: 10px;
}

.inputs {
	display: flex;
	flex-direction: column;
	background: #F0EAD6;
	padding: 16px 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	margin-top: 0px;
}

.main p {
	background: #F0EAD6;
	margin-bottom: 0px;
	padding: 32px;
	padding-bottom: 10px;
	font-weight: 800;
	font-size: 1.7rem;
}

input {
	height: 20px;
	border: 2.5px solid #E0E2E8;
	border-radius: 4px;
}

input:focus {
	border: 1px solid blue;
	outline: none;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

li {
	display: flex;
	gap: 32px;
	margin-top: 22px;
	margin-right: 22px;
	font-size: 0.9rem;
	width: 100%;
}

li > div {
	display: flex;
	flex-direction: column;
}

li:first-child {
	margin-top: 0px;
}

.footer {
	margin-left: 32px;
}

a {
	text-decoration: none;
	color: forestgreen;
}

.t-c {
	font-size: .75rem;
	margin-left: 32px;
}

input[type="password"]:invalid {
	border: 2px solid red;
}

p.passwd-fail-message {
	padding: 0px;
	margin: 0px;
	height: 12px;
	font-size: .65rem;
	color: red;
}
